body{
box-sizing: border-box;
}
.maindiv{
 display: flex;
  background-color: coral;
  height: 500px;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 30%;
  margin-top: 10%;
}


.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 1rem;
  background-color: antiquewhite;
  max-height: 500px;
  justify-items: center;
  border: 2px solid black;
  border-radius: 5px ;
  padding: 15px 15px;
}

.ecard{
  cursor: pointer;
  border: none;
  height: 70px;
  width: 60px;
  text-align: center;
  border-radius: 5px ;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ecard:hover{
  border: 1px solid green;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  color: green
}